
<div id="dir-home" class="item-menu float-left colorwhite direct-event" name="home">
    <span style="font-size: 2.2em">
        <i class="fa fa-home"></i>
    </span>
    <span>Home</span>
</div>

<div id="dir-tables" class="item-menu float-left colorwhite direct-event" name="tables">
    <span style="font-size: 2.1em">
        <i class="fa fa-briefcase"></i>
    </span>
    <span>Table</span>
</div>

<div id="dir-calendar" class="item-menu float-left colorwhite direct-event" name="calendar">
    <span style="font-size: 2.1em">
        <i class="fa fa-calendar"></i>
    </span>
    <span>Calendar</span>
</div>

<div id="name-app" class="float-left colorwhite direct-event" name="home">
    <span>ALL My App</span>
</div>

<div id="profile-item" class="float-right colorwhite direct-event" name="profile">
     <span style="font-size: 2.7em">
        <i class="fa fa-user-circle"></i>
    </span>
</div>
<div id="find-frame" class="float-right colorwhite">
    <form method="GET" id="form2" action="#">
        <input type="text" name="keyword" />
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<br />
<br />
<span class="clear-float"></span>
<span class="clear"></span>
<br />


