
<div class="item-menu float-left colorwhite">
    <span>Home</span>
</div>

<div class="item-menu float-left colorwhite">
    <span>Table</span>
</div>

<div class="item-menu float-left colorwhite">
    <span>Caleder</span>
</div>


<div id="name-app" class="float-left colorwhite">
    <span>ALL My App</span>
    <br/>
    <img src="" />
</div>

<span class="clear-float"></span>
