
<div id="dir-home" class="item-menu float-left colorwhite direct-event" name="home">
    <span>Home</span>
</div>

<div id="dir-tables" class="item-menu float-left colorwhite direct-event" name="tables">
    <span>Table</span>
</div>

<div id="dir-calendar" class="item-menu float-left colorwhite direct-event" name="calendar">
    <span>Calendar</span>
</div>

<div id="name-app" class="float-left colorwhite direct-event" name="home">
    <span>ALL My App</span>
    <br/>
    <img src="" />
</div>
<div id="profile-item" class="float-right colorwhite direct-event" name="profile">
    <span>Hoang Phu</span>
</div>
<div id="find-frame" class="float-right colorwhite">
    <input id="find-input" type="text" />
    <input type="button" id="btn-find" value="Find" />
</div>
<span class="clear-float"></span>

