<div class="container">
    <button class="back-button"></button>
    <div>
        <div id="left">
            Thong ke trong thang
        </div>
        <div id="calendar-container">
            <div id="calendar-header">
                <div id="calendar-month">
                    <button class="pre-button"></button>
                    <p id="month"></p>
                    <button class="next-button"></button>
                </div>

                <div id="calendar-year">
                    <button class="pre-button"></button>
                    <p id="year"></p>
                    <button class="next-button"></button>
                </div>
            </div>
            <br class="clear">
            <div id="calendar-dates">
                <table>
                    <thead>
                        <tr>
                            <th>Thứ 2</th>
                            <th>Thứ 3</th>
                            <th>Thứ 4</th>
                            <th>Thứ 5</th>
                            <th>Thứ 6</th>
                            <th>Thứ 7</th>
                            <th>Chủ nhật</th>
                        </tr>
                    </thead>
                    <tbody id="calendar-body"></tbody>    
                </table>
            </div>
        </div>
        <div id="right">
            Trong ngay
        </div>
    </div>
</div>
