<div class="container">
    <div id="leftPage">
        <p>Bảng được đánh dấu sao</p>
        <hr>
        <ul class="list-table">
            <li>
                <a>
                    <span class="table">
                        <p>Bảng 1</p>
                        <img class="star"/>
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <span class="table">
                        <p>Bảng 2</p>
                        <img class="star" />
                    </span>
                </a>
            </li>
            <li>
                <a>
                    <span class="table">
                        <p>Bảng 3</p>
                        <img class="star"/>
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <div id="rightPage">
        <h2>Thông báo</h2>
        <hr>
        <ul class="leftBar">
            <li>
                <span>
                    <h3>Nhắc nhở: Đến hạn 12/7/2018</h3>
                    <p>Công việc A sắp hết thời hạn</p>
                </span>
            </li>
            <li>
                <span>
                    <h3>Thêm bảng:</h3>
                    <p>User A đã thêm bảng vào nhóm làm việc H</p>
                </span>
            </li>
            <li>
                <span>
                    <h3>Thay đổi:</h3>
                    <p>User B đã thay đổi thẻ X</p>
                </span>
            </li>
            <li>
                <span>
                    <h3>Thêm nhóm:</h3>
                    <p>User C đã thêm bạn vào nhóm Z</p>
                </span>
            </li>
        </ul>
    </div>
</div>