<!DOCTYPE html>
<html lang="en">
    <head>
        <%- partial("./partials/head"); %>
    </head>
    <body>
        <div id="main-wrap">
            <nav><%- partial("./partials/navigator"); %></nav>
            <main>
                <h1>HAHAHA</h1>
                <span>xa</span>
                
            </main>
        </div>
    </body>
</html>