<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All my time</title>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/intro.css">
    <link href="https://fonts.googleapis.com/css?family=Merienda+One|Comfortaa|Quicksand|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
        crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">All my time</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#about-content">About</a></li>
                    <li><a href="#about-content">Contact</a></li>
                    <li><a href="/signup">Sign up</a></li>
                    <li><a href="/login">Login</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="intro-content">
        <div class="container-fluid">
            <h1 style="font-size: 48px">&quot;All my time&quot;</h1>
            <h1>lets you work more collaboratively and get more done.</h1>
            <h4>Boards, lists, and cards enable you to organize and prioritize your projects in a fun, flexible and
                rewarding way.</h4>
            <a href="/signup" class="btn btn-success btn-lg">Sign Up - It's Free!</a>
        </div>
    </section>
    <section class="app-content">
        <div class="container-fluid">
            <h2 class="header-text">
                All my time làm được gì?
            </h2>
            <div class="row" style="margin-top: 40px">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a href="#" class="feature">
                        <div class="icon">
                            <i class="fas fa-users"></i>
                            <h4 style="font-weight: 600">
                                Làm việc nhóm hiệu quả
                            </h4>
                            <p>
                                All my time giúp bạn quản lý, theo dõi các công việc trong nhóm dễ dàng hơn, hoạt động
                                teamwork hiệu quả hơn.
                            </p>
                        </div>
                        <div><i class="fas fa-chevron-circle-right"></i></div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a href="#" class="feature">
                        <div class="icon">
                            <i class="far fa-clipboard"></i>
                            <h4 style="font-weight: 600">
                                Thông tin nhanh chóng
                            </h4>
                            <p>
                                Đi sâu vào chi tiết bằng cách thêm nhận xét, tệp đính kèm, ngày đáo hạn và trực tiếp
                                hơn vào thẻ All my time.
                            </p>
                        </div>
                        <div><i class="fas fa-chevron-circle-right"></i></div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a href="#" class="feature">
                        <div class="icon">
                            <i class="far fa-calendar-alt"></i>
                            <h4 style="font-weight: 600">
                                Tra cứu thuận tiện
                            </h4>
                            <p>
                                Các công việc mà bạn đã thêm sẽ được đưa vào lịch để thuận tiện tra cứu. Giúp quản
                                lý thời gian và tiến độ hoàn thành công việc dễ dàng hơn.
                            </p>
                        </div>
                        <div><i class="fas fa-chevron-circle-right"></i></div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <a href="#" class="feature">
                        <div class="icon">
                            <i class="fas fa-edit"></i>
                            <h4 style="font-weight: 600">
                                Chỉnh sửa dễ dàng
                            </h4>
                            <p>
                                Có thể thêm, sửa, xóa nội dung của các thẻ dễ dàng. Nhanh chóng và thuận tiện hơn so
                                với việc viết trên giấy note rất nhiều.
                            </p>
                        </div>
                        <div><i class="fas fa-chevron-circle-right"></i></div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section class="guide-content" >
        <div class="container">
            <div class="row" style="margin: 10% auto">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <img src="./img/computer-2.png" alt="">
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2 class="header-text" style="color: midnightblue">
                        Hướng dẫn sử dụng
                    </h2>
                    <p>Dưới đây là một vài thao tác cơ bản để bắt đầu làm việc với All my time:</p>
                    <ul>
                        <li>
                            <p>Tạo tài khoản All my time và đăng nhập</p>
                        </li>
                        <li>
                            <p>Chọn Thêm bảng để tiến hành thêm công việc</p>
                        </li>
                        <li>
                            <p>Điền các trường cần thiết để mô tả về công việc</p>
                        </li>
                        <li>
                            <p>Nhấn OK để xác nhận</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="about-content" id="about-content" style="height: 300px">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2 class="header-text">About</h2>

                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <h2 class="header-text">Contact Us</h2>
                    <p>144 Xuân Thủy<br>Đại học Công nghệ - ĐHQGHN</p>
                    <p>Phone: 0123456789</p>
                    <p>Email: email@allmyapp.com</p>
                    <ul class="social">
                        <li><a href="#"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fab fa-google-plus-square"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</body>

</html>