<!doctype html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/profile.css">
    <title>profile</title>
</head>
<body>
<div class="profile">
    <h1 class="profile-title">Chỉnh sửa thông tin cá nhân</h1>
    <form action="">
        <div class="profile-detail">
            <label for="full-name">Họ và tên</label>
            <input type="text" id="full-name">
        </div>
        <div class="profile-detail">
            <label for="username">Tên đăng nhập</label>
            <input type="text" id="username">
        </div>
        <div class="profile-detail">
            <label for="password">Mật khẩu</label>
            <input type="password" id="password">
        </div>
        <div class="profile-detail">
            <label for="birth-date">Ngày sinh</label>
            <input type="date" id="birth-date">
        </div>
        <button class="submit-btn">Lưu lại</button>
    </form>
</div>
</body>
</html>
