<div class="container">
        <div>
            <div>
                <button class="back-button"></button>
            </div>
    
            <div>
                <p id="title">Danh sách bảng</p>
            </div>
    
            <div>
                <button class="add-button"></button>
            </div>
            
            <br class="clear"/>
        </div>

        <div class="month">
            <div class="header-list">
                <span class="icon-time"></span>
                <p>Tháng 10</p>
            </div>
            <hr>
            <ul class="list-table">
                <li>
                    <a href="http://localhost:3300/table/project">
                        <span class="table">
                            <p>Bảng 1</p>
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="table">
                            <p>Bảng 2</p>
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="table">
                            <p>Bảng 3</p>
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="table">
                            <p>Bảng 4</p>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="month">
            <div class="header-list">
                <span class="icon-time"></span>
                <p>Tháng 9</p>
            </div>
            
            <hr>
            <ul class="list-table">
                <li>
                    <a>
                        <span class="table">
                            <p>Bảng 1</p>
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="table">
                            <p>Bảng 2</p>
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="table">
                            <p>Bảng 3</p>
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="table">
                            <p>Bảng 4</p>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="month">
            <div class="header-list">
                <span class="icon-time"></span>
                <p>Tháng 8</p>
            </div>
            <hr>
            <ul class="list-table">
                <li>
                    <a>
                        <span class="table">
                            <p>Bảng 1</p>
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="table">
                            <p>Bảng 2</p>
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="table">
                            <p>Bảng 3</p>
                        </span>
                    </a>
                </li>
                <li>
                    <a>
                        <span class="table">
                            <p>Bảng 4</p>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
