<!DOCTYPE html>
<html lang="en">
    <head>
        <!--<%- include('../partials/head') %> -->
        <link href="../css/reset.css" rel="stylesheet" />
        <link href="../css/style.css" rel="stylesheet" />
        <link href="../css/table.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='../dist/dragula.css' rel='stylesheet' type='text/css' />
    </head>
    <body>
        <div id="main-wrap">
            <nav><%- partial("./partials/navigator"); %></nav>
            <div id="main">
                <div id="container-table">
                    <div id='sub_menu'>
                        <span class="name-table">Bang 1</span>
                        <span class="impotant">*</span>
                        <span class="show-menu float-right">Hien menu</span>
                    </div>
                    <div id="list-table">
                        <div class="part_table float-left">
                            <div class="head-tag">
                                <span class="name-tag">Table 1</span>
                                <span class="menu-tag"><i class="fa fa-ellipsis-h"></i></span>
                            </div>
                            <div id='left-defaults' class='container_d'>
                                <div>Line 1</div>
                                <div>Moving them anywhere else isn't quite possible</div>
                                <div>Line 3</div>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div class="part_table float-left">
                            <div class="head-tag">
                                <span class="name-tag">Table 2</span>
                                <span class="menu-tag"><i class="fa fa-ellipsis-h"></i></span>
                            </div>
                            <div id='right-defaults' class='container_d'>
                                <div>There's also the possibility of moving elements around in the same container_d, changing their position</div>
                                <div>This is the default use case. You only need to specify the container_ds you want to use</div>
                                <div>More interactive use cases lie ahead</div>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div class="part_table float-left">
                            <div class="head-tag">
                                <span class="name-tag">Table 3</span>
                                <span class="menu-tag"><i class="fa fa-ellipsis-h"></i></span>
                            </div>
                            <div id='right-defaults2' class='container_d'>
                                <div>There's also the possibility of moving elements around in the same container_d, changing their position</div>
                                <div>This is the default use case. You only need to specify the container_ds you want to use</div>
                                <div>More interactive use cases lie ahead</div>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div class="part_table float-left">
                            <div class="head-tag">
                                <span class="name-tag">Table 4</span>
                                <span class="menu-tag"><i class="fa fa-ellipsis-h"></i></span>
                            </div>
                            <div id='right-defaults3' class='container_d'>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div class="part_table float-left">
                            <div class="head-tag">
                                <span class="name-tag">Table 5</span>
                                <span class="menu-tag"><i class="fa fa-ellipsis-h"></i></span>
                            </div>
                            <div id='right-defaults4' class='container_d'>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div class="part_table float-left">
                            <div class="head-tag">
                                <span class="name-tag">Table 6</span>
                                <span class="menu-tag"><i class="fa fa-ellipsis-h"></i></span>
                            </div>
                            <div id='right-defaults5' class='container_d'>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div class="part_table float-left">
                            <div class="head-tag">
                                <span class="name-tag">Table 7</span>
                                <span class="menu-tag"><i class="fa fa-ellipsis-h"></i></span>
                            </div>
                            <div id='right-defaults6' class='container_d'>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div class="part_table float-left">
                            <div class="head-tag">
                                <span class="name-tag">Table 8</span>
                                <span class="menu-tag"><i class="fa fa-ellipsis-h"></i></span>
                            </div>
                            <div id='right-defaults7' class='container_d'>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div class="part_table float-left">
                            <div class="head-tag">
                                <span class="name-tag">Table 9</span>
                                <span class="menu-tag"><i class="fa fa-ellipsis-h"></i></span>
                            </div>
                            <div id='right-defaults8' class='container_d'>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div class="part_table float-left">
                            <div class="head-tag">
                                <span class="name-tag">Table 10</span>
                                <span class="menu-tag"><i class="fa fa-ellipsis-h"></i></span>
                            </div>
                            <div id='right-defaults9' class='container_d'>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div id="add-list" class="add-collumn float-left">
                            <i class="fa fa-plus"></i>
                            Them danh sach khac
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
    <script src='../dist/dragula.js'></script>
    <script src='../js/table.min.js'></script>
    </body>
</html>
