
<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="../css/reset.css" rel="stylesheet" />
        <link href="../css/style.css" rel="stylesheet" />
        <link href="../css/table.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href='../dist/dragula.css' rel='stylesheet' type='text/css' />
        <link rel="stylesheet" href="../css/bar.css">
        <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
        <script src="../bootstrap/js/jquery.min.js"></script>
    </head>
    <body>
        <div id="buble"></div>
        <div id="main-wrap">
            <nav><%- partial("./partials/navigator"); %></nav>
            <div id="main">
                <div id="container-table">
                    <div id='sub_menu'>
                        <span class="name-table">Bang 1</span>
                        <span class="impotant">*</span>
                        <span class="show-menu float-right">Hien menu</span>
                    </div>
                    <div id="list-table">
                        <div id="tag_1" class="part_table arrange">
                            <div class="head-tag">
                                <span class="name-tag">Table 1</span>
                                <div class="dropdown float-right" >
                                    <button data-toggle="dropdown">
                                        <span class="menu-tag" ><i class="fa fa-ellipsis-h"></i></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Xoa</a></li>
                                      <li><a href="#">Them dong</a></li>
                                      <li><a href="#">Doi ten</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id='right-defaults0' class='container_d'>
                                <div id="tag1_1_1">Line 1</div>
                                <div id="tag1_1_2">Moving them anywhere else isn't quite possible</div>
                                <div id="tag1_1_3">Line 3</div>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div id="tag_2" class="part_table arrange">
                            <div class="head-tag">
                                <span class="name-tag">Table 2</span>
                                <div class="dropdown float-right" >
                                    <button data-toggle="dropdown">
                                        <span class="menu-tag" ><i class="fa fa-ellipsis-h"></i></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Xoa</a></li>
                                      <li><a href="#">Them dong</a></li>
                                      <li><a href="#">Doi ten</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id='right-defaults1' class='container_d'>
                                <div>There's also the possibility of moving elements around in the same container_d, changing their position</div>
                                <div>This is the default use case. You only need to specify the container_ds you want to use</div>
                                <div>More interactive use cases lie ahead</div>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div id="tag_3" class="part_table arrange">
                            <div class="head-tag">
                                <span class="name-tag">Table 3</span>
                                <div class="dropdown float-right" >
                                    <button data-toggle="dropdown">
                                        <span class="menu-tag" ><i class="fa fa-ellipsis-h"></i></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Xoa</a></li>
                                      <li><a href="#">Them dong</a></li>
                                      <li><a href="#">Doi ten</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id='right-defaults2' class='container_d'>
                                <div>There's also the possibility of moving elements around in the same container_d, changing their position</div>
                                <div>This is the default use case. You only need to specify the container_ds you want to use</div>
                                <div>More interactive use cases lie ahead</div>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div id="tag_4" class="part_table arrange">
                            <div class="head-tag">
                                <span class="name-tag">Table 4</span>
                                <div class="dropdown float-right" >
                                    <button data-toggle="dropdown">
                                        <span class="menu-tag" ><i class="fa fa-ellipsis-h"></i></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Xoa</a></li>
                                      <li><a href="#">Them dong</a></li>
                                      <li><a href="#">Doi ten</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id='right-defaults3' class='container_d'>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div id="tag_5" class="part_table arrange">
                            <div class="head-tag">
                                <span class="name-tag">Table 5</span>
                                <div class="dropdown float-right" >
                                    <button data-toggle="dropdown">
                                        <span class="menu-tag" ><i class="fa fa-ellipsis-h"></i></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Xoa</a></li>
                                      <li><a href="#">Them dong</a></li>
                                      <li><a href="#">Doi ten</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id='right-defaults4' class='container_d'>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div id="tag_6" class="part_table arrange">
                            <div class="head-tag">
                                <span class="name-tag">Table 6</span>
                                <div class="dropdown float-right" >
                                    <button data-toggle="dropdown">
                                        <span class="menu-tag" ><i class="fa fa-ellipsis-h"></i></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Xoa</a></li>
                                      <li><a href="#">Them dong</a></li>
                                      <li><a href="#">Doi ten</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id='right-defaults5' class='container_d'>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div id="tag_7" class="part_table arrange">
                            <div class="head-tag">
                                <span class="name-tag">Table 7</span>
                                <div class="dropdown float-right" >
                                    <button data-toggle="dropdown">
                                        <span class="menu-tag" ><i class="fa fa-ellipsis-h"></i></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Xoa</a></li>
                                      <li><a href="#">Them dong</a></li>
                                      <li><a href="#">Doi ten</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id='right-defaults6' class='container_d'>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div id="tag_8" class="part_table arrange">
                            <div class="head-tag">
                                <span class="name-tag">Table 8</span>
                                <div class="dropdown float-right" >
                                    <button data-toggle="dropdown">
                                        <span class="menu-tag" ><i class="fa fa-ellipsis-h"></i></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Xoa</a></li>
                                      <li><a href="#">Them dong</a></li>
                                      <li><a href="#">Doi ten</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id='right-defaults7' class='container_d'>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div id="tag_9" class="part_table arrange">
                            <div class="head-tag">
                                <span class="name-tag">Table 9</span>
                                <div class="dropdown float-right" >
                                    <button data-toggle="dropdown">
                                        <span class="menu-tag" ><i class="fa fa-ellipsis-h"></i></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Xoa</a></li>
                                      <li><a href="#">Them dong</a></li>
                                      <li><a href="#">Doi ten</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id='right-defaults8' class='container_d'>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div id="tag_10" class="part_table arrange">
                            <div class="head-tag">
                                <span class="name-tag">Table 10</span>
                                <div class="dropdown float-right" >
                                    <button data-toggle="dropdown">
                                        <span class="menu-tag" ><i class="fa fa-ellipsis-h"></i></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                      <li><a href="#">Xoa</a></li>
                                      <li><a href="#">Them dong</a></li>
                                      <li><a href="#">Doi ten</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div id='right-defaults9' class='container_d'>
                            </div>
                            <span class="add-tag"><i class="fa fa-plus"></i> Add new tag</span>
                        </div>
                        <div id="add-list" class="add-collumn arrange">
                            <i class="fa fa-plus"></i>
                            Them danh sach khac
                        </div>
                    
                    </div>
                    
                </div>
            </div>
        </div>
    <div id="outcontent"></div>
    <script src='../dist/dragula.js'></script>
    <script src='../js/table.min.js'></script>
    <script src='../js/table.js'></script>


    <script src="../bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
