<!DOCTYPE html>
<html lang="en">
    <head>
        <%- partial("./partials/head"); %>
    </head>
    <body>
        <div id="main-wrap">
            <nav><%- partial("./partials/navigator"); %></nav>
            <main id="main">
                <%- partial("./pages/home"); %>
            </main>
            
        </div>
    </body>
</html>